video {
    object-fit: cover;
    width: 1920px;
    height: 1080px;
    position:absolute;
    z-index: -1;
  }

  .text1{
      color: #DF4835;
      font-size: 62px;
      letter-spacing: 0px;
      font-weight: bold;
      text-align: center;
      margin-left: 322px;
      margin-right: 322px;
      margin-top: 0px;
      text-transform: uppercase;
      
  }

  

  .container{
    color: #FFFFFF;
    font-size: 34px;
    letter-spacing: 0px;
    text-align: center;
    margin-left: 623px;
    margin-right: 623px;
    margin-top: 670px;

  }