.topic-container{
    color:#986ED6;
    font-size: 75px;
    margin-top: 70px;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 100%;
    align-items: center;
    align-content: center;
    
    

}
.topic-container{
   
    width: 100%;
    
}

img{
    margin-top: 10px;
    
    width: 600px;
    height: 600px;
    opacity: 1;  
    margin-left: 900px;
    
    }

.topic{
    text-indent:0ch;
    margin-left: 25px;
  
}

.mid-text{
font-size: 30px;
text-align: left;
color: #5691E9;
font-family: Neue Montreal;
margin-left: 25px;

}

Button{
    
    margin-left: 25px;
}
