.footer-container {
    background-color: #242424;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    height: 612px;
    position: sticky;
  }

  .address-footer{
        color:#5E62D1;
        width: 162px;
  }

  .Number-footer{
    color:#5E62D1;
    width: 160px;
  }
  
  .footer-logo{
    padding-left: 120px;
    font-size: 70px;
    margin-top: -324px;
    padding-bottom: 24px;
    
    color: #5E62D1;

  }

  .rule{
    font-size: 1100px;
    margin-left: 410px;
    margin-right: 410px;
    margin-top: 70px;
  }

  .social-logo{
    text-decoration: none;
    color: #5E62D1;
    
  }

  

  

  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    font-size: 22px;
  }
  
  .footer-link-wrapper {
    display: flex;
    padding-left: 1300px;
    margin-top: 100px;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 26px;
    text-align: left;
    width: 360px;
    box-sizing: border-box;
    font-size: 18px;
  }

  
  
  .footer-link-items h2 {
    margin-bottom: 26px;
  }
  
  .footer-link-items > h2 {
    color: #5E62D1;
  }
  
  .footer-link-items a {
    color: #5E62D1;
    text-decoration: none;
    margin-bottom: 0.7rem;
  }
  
  .footer-link-items a:hover {
    color: #e9e9e9;
    transition: 0.9s ease-in;
  }
  
  
  
 

  
  .website-rights {
    color: #fff;
    margin-bottom: 16px;
  }
  
  @media screen and (max-width: 1260px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
      margin-top: 5px;
      padding-right: 35%;
      padding-left: 60%;
    }
  
    
  }
  
  