video {
    object-fit: cover;
    height: auto;
    position:absolute;
    z-index: -1;
    width: 100%;
    background-clip: padding-box;
   
  }

  .text1{
      color: #DF4835;
      font-size: 62px;
      letter-spacing: 0px;
      font-weight: bold;
      text-align: center;
      margin-left: 322px;
      margin-right: 322px;
      margin-top: 0px;
      text-transform: uppercase;
      
  }

  

  .video-text{
    color: #FFFFFF;
    font-size: 34px;
    letter-spacing: 0px;
    text-align: center;
    padding-left: 623px;
    padding-right: 623px;
    padding-top: 635px;
   
  

  }

  @media screen and (max-width: 1260px) {
    .video-page{
      width: 100%;
    }

    .video{
      width: auto;
      
    }

    .video-text{
      margin-left: 50%;
      margin-top: 40%;
      width: 100%;
      font-size: 46px;

    }
  }