.topic-container{
    color:#986ED6;
    font-size: 75px;
    margin-top: -70px;
    margin-left: 25px;
    margin-bottom: 25px;
    width: 100%;
    align-items: center;
    align-content: center;
    flex-direction: column;
    
    

}
.topic-container{
   
    width: 100%;
    margin-top: -580px;
    margin-left: 116px;
    
}
.middle-container{
    width: 1920px;
    height: 1080px;
}

.image{
    margin-top: -540px;
    opacity: 1;  
    margin-left: 542px;
    margin-right: 222px;
    }

.topic{
    text-indent:0ch;
    margin-left: 25px;
  
}

.mid-text{
font-size: 30px;
text-align: left;
color: #5691E9;
font-family: Neue Montreal;
margin-left: 116px;
margin-top: 85x;

}

.btn--primary{
    margin-top: 10px;
    margin-left: 116px;
    width: 197px;
    height: 62px;
   
}
