.lb{
  
    padding-left: 0px;
    margin-top: -10px;
   
}

.get-text{
    font-size: 33px;
    color: #1E2E59;
    margin-left: 120px;
    margin-top: 40px;
    align-content: left;
    font-weight: bold;
}

.get-text1{
    font-size: 22px;
    margin-top: 10px;
    margin-left: 220px;

}
.form-sign{
    margin-top: -860px;
}
.btn-sign-in{
    display: inline-block;
    margin-left: 1000px;
   
    width: 710px;
    height: 81.33px;
    color:white;
    background-color:#0F43AA;
    font-size: 18px;
    border-radius: 0.75em;
    font-weight: bold;
    border-color:#0F43AA ;

}

.sign-in-page{
    width: 1920px;
    height: 1080px;
}

.sign-name{
    color: #0F43AA;
    font: 1em sans-serif;
    font-size: 22px;
    margin-left: 100px;

}

.sign-email{
    color: #0F43AA;
    font: 1em sans-serif;
    font-size: 22px;
    margin-left: 100px;
  
}
.sign-pswd{
    color: #0F43AA;
    font: 1em sans-serif;
    font-size: 22px;
    margin-left: 100px;
}

.sign-cn-pswd{
    color: #0F43AA;
    font: 1em sans-serif;
    font-size: 22px;
    margin-left: 280px;
}

.sign-username{
    color: #0F43AA;
    font: 1em sans-serif;
    font-size: 22px;
    margin-left: 100px;
}

.sign-dob{
    color: #0F43AA;
    font: 1em sans-serif;
    font-size: 22px;
    margin-left: 100px; 
}


.sign-name-txt{
    width: 710px;
    height: 71.33px;
    font-size: 22px;
    border-radius: 0.8em;
    margin-left: 100px;
    border-color:#0F43AA ;
    margin-top: 5px; 
    
}

.sign-pswd-txt{
    width: 335px;
    height: 71.33px;
    font-size: 22px;
    border-radius: 0.8em;
    margin-left: 100px;
    border-color:#0F43AA ;
    margin-top: 5px; 

}

.sign-dob-txt{
    width: 335px;
    height: 71.33px;
    font-size: 22px;
    border-radius: 0.8em;
    margin-left: 100px;
    border-color:#0F43AA ;
    margin-top: 5px; 

}

.sign-cnpswd-txt{
    width: 335px;
    height: 71.33px;
    font-size: 22px;
    border-radius: 0.8em;
    margin-left: 35px;
    border-color:#0F43AA ;
    margin-top: 5px; 

}

.sign-uname-txt{
    width: 710px;
    height: 71.33px;
    font-size: 22px;
    border-radius: 0.8em;
    margin-left: 100px;
    border-color:#0F43AA ;
    margin-top: 5px;
    
}

.sign-email-txt{
    width: 710px;
    height: 71.33px;
    font-size: 22px;
    border-radius: 0.8em;
    margin-left: 100px;
    border-color:#0F43AA ;
    margin-top: 15px; 
    
}

.or-text{
    margin-left: 1230px;
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
}

.email-sign-in{
    margin-left:-30px ;
    font-size: 20px;
}

.sign-form-info{
    margin-left: 900px;
    font-size: 28px;
    margin-top: 30px;
}

.sign-bot-text{
    font-size: 16px;
    text-align: left;
    margin-left: 100px;
    color: rgb(17, 17, 17);
    margin-top: 10px;
    width: 710px;
    
}

.btn-getstart-sign{
    margin-left: 100px;
    margin-top: 20px;
    width: 710px;
    height: 81.33px;
    color:white;
    background-color:#0F43AA;
    font-size: 18px;
    border-radius: 0.75em;
    font-weight: bold;
    border-color:#0F43AA ;
}
.btn-sign-in:hover,
.btn-getstart-sign:hover {
    transition: all 0.3s ease-out;
    background: #fff;
    color: #0F43AA;
    transition: 250ms;
  }

  .p-alr{
      margin-left: 100px;
      font-size: 22px;
      margin-top: 20px;
  }

.login-acc{
    color: rgb(17, 17, 17);
}

.text-sign-page{
    padding-left: 12px;
    padding-right: 400px;
    height: auto;
}

@media screen and (max-width: 960px) {
    .sign-in-page{
        width: 100%;
    }

    .text-sign-page{
        width:50%
    }

    .side-comp{
        width: 50%;
    }
}
