.App {
  text-align: center;
  background: url("");
  max-height: 100%;
  max-width: 100%;
  background-size: cover;
  background-position: center;
  position:inherit;
} 
.topic{
  text-align: center;
  color: brown;
  font-size: xx-large;
  font-weight: bold;
}